<%= render "shared/header" %>

<div class="main">
  <div class="page_title">
    トップページ
  </div>

  <%= link_to 'メール', "#", class:"function_link" %>
  <%= link_to 'チャット', "#", class:"function_link" %>
  <%= link_to 'ストレージ', "#", class:"function_link" %>
  <%= link_to '各費用支払', "#", class:"function_link" %>

</div>

<%= render "shared/footer" %>