<%= render "shared/header" %>

<div class="main">
  <div class="page_title">
    トップページ
  </div>

  <%= link_to 'メール', emails_path, class:"function_link" %>
  <%= link_to 'チャット', rooms_path, class:"function_link" %>
  <%= link_to 'ストレージ', storages_path, class:"function_link" %>
  <%= link_to '団費支払', payments_path, class:"function_link" %>

</div>

<%= render "shared/footer" %>