<%= render "shared/header" %>

<div class="page_title">
  <%= @user.nickname %>さんのマイページ
</div>

<%= link_to 'ユーザー情報を編集', edit_user_path(@user.id), class:"edit_btn" %>
<br>
<%= link_to 'パスワードを変更', edit_user_registration_path, class:"edit_btn" %>
<br>

<%= link_to '団員情報ページへ', members_path %><br>

<%= link_to 'トップページへ戻る', root_path %>