<header class="header_wrapper">
  <%= link_to 'Comcon', root_path, class:"application_name" %>
  <div class="right_buttons">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, user_path(current_user.id), class:"user_nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout_btn" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class:"login_btn" %>
      <%= link_to '新規登録', new_user_registration_path, class:"registration_btn" %>
    <% end %>
  </div>
</header>