<%= render "shared/header" %>

<div class="payment_main">

  <div class="page_title">
      <%= @user.nickname %>さんの団費支払状況
  </div>

  <div class="payment_status">
    
    <% @payments.each_with_index do | payment, i | %>
      <div class="payment_status_record">
        <%= payment.price %>円
        <%= l payment.created_at %>        
      </div>
    <% break if i == 4 %>  
    <% end %>
  </div>

  <%= link_to '団費支払ページへ', new_payment_path, class:"new_payment_btn" %>

</div>

<%= render "shared/footer" %>