<%= render "shared/header" %>

<div class="main">
  <div class="page_title">
    メール作成
  </div>
  <%= form_with(model: @email, local: true) do |f| %>
    <% if @email.errors.any? %>
      <div id="error_explanation">
        <ul><% @email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "件名" %>
      <%= f.text_field :subject, placeholder: "件名", class: "input-form" %>
    </div>
    <div class="field">
      <%= f.label "本文" %><br>
      <%= f.text_area :content, placeholder: "本文を入力してください", class: "input-form" %>
    </div>
    <%= f.submit "送信" %>          
    <%= link_to "メールトップへもどる", emails_path, class:"back_to_index_btn" %>
  <% end %>
</div>

<%= render "shared/footer" %>