<%= render "shared/header" %>

<div class="page_title">
  団員情報登録
</div>

<%= form_with(model: @member, local: true) do |f| %>
  <%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label :'郵便番号' %><br />
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :'都道府県' %><br />
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select_box"}) %>
  </div>

  <div class="field">
    <%= f.label :'住所' %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :'建物名・部屋番号' %><br />
    <%= f.text_field :building_name %>
  </div>

  <div class="field">
    <%= f.label :'電話番号' %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :'パート' %><br />
    <%= f.collection_select(:part_id, Part.all, :id, :name, {}, {class:"select_box"}) %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
